<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wushi.lade.tests.mapper.sqlserver.UserMapper">
    <select id="selectUsers" resultType="com.fasterxml.jackson.databind.JsonNode">
        select * from ws_user
    </select>
</mapper>